@{
    ViewData["Title"] = "Donation - Sector 13 Welfare Society";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="text-center py-5">
                <h1 class="display-4 mb-4">Thank you for your interest in donating!</h1>
                <p class="lead mb-4">Please visit our donation page to make your contribution.</p>
                <a href="/Home/donate" class="btn btn-primary btn-lg">
                    <i class="fas fa-heart me-2"></i>
                    Go to Donation Page
                </a>
            </div>
        </div>
    </div>
</div> 
